[{:shape-type :rect,
  :x 691,
  :y -48,
  :width 104,
  :height 4,
  :fill "#120000",
  :group 0}
 {:shape-type :rect,
  :x 809,
  :y -48,
  :width 104,
  :height 3,
  :fill "#120000",
  :group 0}
 {:shape-type :rect,
  :x 799,
  :y -18,
  :width 4,
  :height 26,
  :fill "#120000",
  :group 0}
 {:shape-type :rect,
  :x 619,
  :y -78,
  :width 104,
  :height 61,
  :fill "#D3455B",
  :group 0}
 {:shape-type :rect,
  :x 770.78,
  :y -76.72,
  :width 60,
  :height 61,
  :fill "#F7C325",
  :group 0}
 {:shape-type :rect,
  :x 749,
  :y 6,
  :width 104,
  :height 61,
  :fill "#1AAE9F",
  :group 0}
 {:shape-type :circle,
  :x 925,
  :y -48,
  :radius 46,
  :fill "#6C71EA",
  :group 0}
 {:shape-type :rect,
  :x 1150,
  :y -54,
  :width 114,
  :height 81,
  :fill "#C70A9D",
  :group 1}
 {:shape-type :rect,
  :x 1063,
  :y -35,
  :width 62,
  :height 91,
  :fill "#FFE600",
  :group 1}
 {:shape-type :rect,
  :x 1104,
  :y -77,
  :width 115,
  :height 164,
  :fill "#D2D2D2",
  :group 1}
 {:shape-type :rect,
  :x 1110,
  :y -72,
  :width 103,
  :height 47,
  :fill "#2C88D9",
  :group 1}
 {:shape-type :rect,
  :x 1110,
  :y -19,
  :width 103,
  :height 47,
  :fill "#2C88D9",
  :group 1}
 {:shape-type :rect,
  :x 1110,
  :y 34,
  :width 103,
  :height 47,
  :fill "#2C88D9",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y -69,
  :width 93,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y -13,
  :width 93,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y 40,
  :width 93,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y -62,
  :width 21,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y -6,
  :width 21,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y 47,
  :width 21,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1138,
  :y -62,
  :width 41,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1138,
  :y -6,
  :width 41,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1138,
  :y 47,
  :width 41,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1182,
  :y -62,
  :width 25,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1182,
  :y -6,
  :width 25,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1182,
  :y 47,
  :width 25,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y -55,
  :width 54,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y 1,
  :width 54,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 1114,
  :y 54,
  :width 54,
  :height 4,
  :fill "white",
  :group 1}
 {:shape-type :rect,
  :x 631,
  :y 91,
  :width 107,
  :height 227,
  :fill "#A0ADB9",
  :group 2}
 {:shape-type :rect,
  :x 636,
  :y 117,
  :width 96,
  :height 171,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 675,
  :y 104,
  :width 19,
  :height 2,
  :fill "#929EAA",
  :group 2}
 {:shape-type :circle,
  :x 667,
  :y 105,
  :radius 2,
  :fill "#929EAA",
  :group 2}
 {:shape-type :circle,
  :x 685,
  :y 98,
  :radius 2,
  :fill "#929EAA",
  :group 2}
 {:shape-type :circle,
  :x 684,
  :y 301,
  :radius 9,
  :fill "#929EAA",
  :group 2}
 {:shape-type :circle,
  :x 684,
  :y 301,
  :radius 8,
  :fill "#A0ADB9",
  :group 2}
 {:shape-type :rect,
  :x 641,
  :y 251,
  :width 86,
  :height 29,
  :fill "#8313DD",
  :group 2}
 {:shape-type :rect,
  :x 648,
  :y 262,
  :width 19,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 648,
  :y 262,
  :width 19,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 671,
  :y 262,
  :width 18,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 671,
  :y 262,
  :width 18,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 693,
  :y 262,
  :width 29,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 693,
  :y 262,
  :width 29,
  :height 7,
  :fill "white",
  :group 2}
 {:shape-type :rect,
  :x 641,
  :y 125,
  :width 86,
  :height 29,
  :fill "#B6B6B6",
  :group 2}
 {:shape-type :rect,
  :x 641,
  :y 158,
  :width 86,
  :height 29,
  :fill "#B6B6B6",
  :group 2}
 {:shape-type :rect,
  :x 641,
  :y 193,
  :width 53,
  :height 29,
  :fill "#B6B6B6",
  :group 2}
 {:shape-type :rect,
  :x 698,
  :y 193,
  :width 29,
  :height 29,
  :fill "#B6B6B6",
  :group 2}
 {:shape-type :rect,
  :x 718,
  :y 169,
  :width 64,
  :height 1,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 725,
  :y 268,
  :width 46,
  :height 1,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 769,
  :y 139,
  :width 46,
  :height 18,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 766,
  :y 301,
  :width 46,
  :height 18,
  :fill "#EFA544",
  :group 2}
 {:shape-type :circle,
  :x 725.5,
  :y 268.5,
  :radius 2.5,
  :fill "#EFA544",
  :group 2}
 {:shape-type :circle,
  :x 716.5,
  :y 169.5,
  :radius 2.5,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 770,
  :y 268,
  :width 1,
  :height 39,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 781,
  :y 147,
  :width 1,
  :height 23,
  :fill "#EFA544",
  :group 2}
 {:shape-type :rect,
  :x 892,
  :y 88,
  :width 132,
  :height 186,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 896,
  :y 92,
  :width 124,
  :height 178,
  :fill "#F7F7F7",
  :group 3}
 {:shape-type :rect,
  :x 922,
  :y 125,
  :width 72,
  :height 38,
  :fill "#6D8DDE",
  :group 3}
 {:shape-type :rect,
  :x 922,
  :y 233,
  :width 72,
  :height 37,
  :fill "#BBBBBB",
  :group 3}
 {:shape-type :circle,
  :x 943,
  :y 143,
  :radius 14,
  :fill "#B5DDB9",
  :group 3}
 {:shape-type :circle,
  :x 976,
  :y 135,
  :radius 8,
  :fill "#D384B8",
  :group 3}
 {:shape-type :circle,
  :x 966,
  :y 151,
  :radius 6,
  :fill "#FDFFA5",
  :group 3}
 {:shape-type :rect,
  :x 927,
  :y 242,
  :width 17,
  :height 8,
  :fill "white",
  :group 3}
 {:shape-type :rect,
  :x 949,
  :y 242,
  :width 17,
  :height 8,
  :fill "white",
  :group 3}
 {:shape-type :rect,
  :x 972,
  :y 242,
  :width 17,
  :height 8,
  :fill "white",
  :group 3}
 {:shape-type :rect,
  :x 957,
  :y 250,
  :width 1,
  :height 6,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 966,
  :y 245,
  :width 6,
  :height 1,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 944,
  :y 245,
  :width 5,
  :height 1,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 1008,
  :y 155,
  :width 1,
  :height 14,
  :fill "#5A19AD",
  :group 3}
 {:shape-type :rect,
  :x 1008,
  :y 154,
  :width 22,
  :height 1,
  :fill "#5A19AD",
  :group 3}
 {:shape-type :rect,
  :x 949,
  :y 256,
  :width 17,
  :height 8,
  :fill "white",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 100,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 100,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 112,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 112,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 186,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 186,
  :width 80,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 100,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 100,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 112,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 112,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 186,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 984,
  :y 186,
  :width 30,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 106,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 106,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 191,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 191,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 118,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 118,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 168,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 168,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 209,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 209,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 180,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 180,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 221,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 221,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 197,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 197,
  :width 63,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 967,
  :y 168,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 967,
  :y 168,
  :width 47,
  :height 3,
  :fill "#822FEC",
  :group 3}
 {:shape-type :rect,
  :x 967,
  :y 209,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 967,
  :y 209,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 174,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 174,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 215,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 215,
  :width 47,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 951,
  :y 174,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 951,
  :y 174,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 951,
  :y 215,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 951,
  :y 215,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 180,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 180,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 221,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 221,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 197,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 994,
  :y 197,
  :width 19,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 978,
  :y 174,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 978,
  :y 174,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 978,
  :y 215,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 978,
  :y 215,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 180,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 180,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 221,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 221,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 197,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 901,
  :y 197,
  :width 24,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 106,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 106,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 191,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 928,
  :y 191,
  :width 22,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 954,
  :y 106,
  :width 60,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 954,
  :y 106,
  :width 60,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 954,
  :y 191,
  :width 60,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 954,
  :y 191,
  :width 60,
  :height 3,
  :fill "black",
  :group 3}
 {:shape-type :rect,
  :x 1015,
  :y 150,
  :width 33,
  :height 11,
  :fill "#1A003A",
  :group 3}
 {:shape-type :circle,
  :x 1020,
  :y 154,
  :radius 3,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1025,
  :y 151,
  :width 21,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1025,
  :y 153,
  :width 6,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1032,
  :y 153,
  :width 14,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1025,
  :y 155,
  :width 10,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1025,
  :y 157,
  :width 3,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1029,
  :y 157,
  :width 3,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1043,
  :y 157,
  :width 3,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1033,
  :y 157,
  :width 9,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1025,
  :y 159,
  :width 21,
  :height 1,
  :fill "#C4C4C4",
  :group 3}
 {:shape-type :rect,
  :x 1356,
  :y 156,
  :width 14,
  :height 1,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1257,
  :y 133,
  :width 1,
  :height 156,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1265,
  :y 186,
  :width 83,
  :height 1,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :rect,
  :x 1347,
  :y 194,
  :width 13.1328,
  :height 1,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :rect,
  :x 1347,
  :y 178,
  :width 13.1328,
  :height 1,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :rect,
  :x 1347,
  :y 178,
  :width 1,
  :height 17,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :rect,
  :x 1355,
  :y 106,
  :width 1,
  :height 51,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1265,
  :y 187,
  :width 1,
  :height 102,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :rect,
  :x 1316.258,
  :y 181.914,
  :width 20.5,
  :height 10.25,
  :fill "#868686",
  :group 4}
 {:shape-type :rect,
  :x 1272,
  :y 237,
  :width 83,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1272,
  :y 295,
  :width 104,
  :height 1,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :rect,
  :x 1272,
  :y 237,
  :width 1,
  :height 48,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1355,
  :y 260,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1356,
  :y 237,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1356,
  :y 221,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1355,
  :y 221,
  :width 1,
  :height 40,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1361,
  :y 279,
  :width 13,
  :height 1,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :rect,
  :x 1361,
  :y 310,
  :width 13,
  :height 1,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :rect,
  :x 1361,
  :y 279,
  :width 1,
  :height 32,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :circle,
  :x 1361.5,
  :y 194.5,
  :radius 3.5,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :circle,
  :x 1361.5,
  :y 178.5,
  :radius 3.5,
  :fill "#2C88D9",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 156.5,
  :radius 3.5,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 221.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 237.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 260.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1376.5,
  :y 279.5,
  :radius 3.5,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :circle,
  :x 1376.5,
  :y 295.5,
  :radius 3.5,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :circle,
  :x 1376.5,
  :y 310.5,
  :radius 3.5,
  :fill "#1AAE9F",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 133.5,
  :radius 3.5,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1316,
  :y 290,
  :width 33,
  :height 11,
  :fill "#868686",
  :group 4}
 {:shape-type :rect,
  :x 1284,
  :y 232,
  :width 33,
  :height 11,
  :fill "#868686",
  :group 4}
 {:shape-type :rect,
  :x 1082,
  :y 313,
  :width 15,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1070,
  :y 295,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1070,
  :y 313,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1070,
  :y 331,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1101,
  :y 313,
  :width 13.1328,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1113,
  :y 274,
  :width 1,
  :height 40,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1082,
  :y 295,
  :width 1,
  :height 37,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1099.5,
  :y 274.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1098.5,
  :y 294.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1098.5,
  :y 313.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1068.5,
  :y 295.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1068.5,
  :y 313.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1068.5,
  :y 331.5,
  :radius 3.5,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1257,
  :y 133,
  :width 113,
  :height 1,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1316,
  :y 129,
  :width 28,
  :height 10,
  :fill "#868686",
  :group 4}
 {:shape-type :rect,
  :x 1101,
  :y 274,
  :width 13,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :rect,
  :x 1356,
  :y 106,
  :width 14,
  :height 1,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1100,
  :y 294,
  :width 83,
  :height 1,
  :fill "#D3455B",
  :group 4}
 {:shape-type :circle,
  :x 1371.5,
  :y 106.5,
  :radius 3.5,
  :fill "#BD34D1",
  :group 4}
 {:shape-type :rect,
  :x 1129,
  :y 289,
  :width 33,
  :height 11,
  :fill "#868686",
  :group 4}
 {:shape-type :rect,
  :x 1176,
  :y 283,
  :width 110,
  :height 24,
  :fill "#C4C4C4",
  :group 4}]
